@use './_reset.scss' as *;
@use './_variables.scss' as *;
@use './_mixins.scss' as *;

body {
  background-color: $color-primary;
  color: $color-text-primary;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: $font-weight-regular;
  font-display: swap;
}

::-webkit-scrollbar {
  width: $space-2xs;
  height: $space-2xs;
}

::-webkit-scrollbar-thumb {
  background-color: $color-text-secondary;
}

::-webkit-scrollbar-track {
  background-color: $button-ghost-bg;
}
